@import 'tailwindcss';

.center {
  @apply flex items-center justify-center;
}

.col-center {
  @apply flex flex-col items-center justify-center;
}

.hover {
  transition: all 0.3s ease-in-out 0.1s;
}
